{{ define "main" }}
{{ $blogSettings := .Site.Data.homepage.blog }}
  <header>
    <h2>{{ .Title }}</h2>
  </header>
  <section class="box">
    <div class="row">
      {{ range .Pages }}
      <div class="col-9 col-9-narrower">
        <h3>{{ .Title }}</h3>
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ else }}
        <p>{{ .Summary }}</p>
        {{ end }}
      </div>
      <div class="col-3 col-3-narrower">
        <ul class="actions special">
          <li><a href="{{ .Permalink }}" class="button alt">{{ $blogSettings.buttonText }} </a></li>
        </ul>
      </div>
      {{ end }}
    </div>
  </section>
{{ end }}
  
